@import "tailwindcss";

@theme {
    --color-brown-light: #FAF8F5;
    --color-brown-light-hover: #F7F4F0;
    --color-brown-light-active: #EFE9DF;

    --color-brown-normal: #CBB799;
    --color-brown-normal-hover: #B7A58A;
    --color-brown-normal-active: #A2927A;

    --color-brown-dark: #988973;
    --color-brown-dark-hover: #7A6E5C;
    --color-brown-dark-active: #5B5245;
    --color-brown-darker: #474036;

    --color-text-light: #988973;
    --color-text-dark: #7A6E5C;
    
    --font-dynapuff: 'DynaPuff', cursive;
    --font-cause: 'Cause', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}


/* HEADER */

/* .header-container {
    background-color: var(--brown-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;  
    margin: 0 auto; 
    padding: 0 12px;
    height: 70px;
    
} */

/* .logo-image{
    width: 130px;
    height: 70px;
    cursor: pointer;
} */

/* .search-container{
    flex:1;
    max-width: 470px;
    height: 42px;
    padding: 0 1rem;
    margin: 0 20px;
    background-color: var(--brown-light);
    border: 1px solid rgba(214, 185, 149, 0.814);
    border-radius: 10px;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    color: var(--text-color-light);
    margin: 0 20px;
    padding: 0 12px;

} */

/* .search{
    display: flex;
    align-items:center ;
    gap: 1rem;
    flex: 1;
} */

/* .filter-voice{
    display: flex;
    align-items:center ;
    justify-content: center;
    gap: 1.4rem;
    border-left: 1px solid var(--brown-normal-hover);
    padding-left: 12px;
}

.filter, .microphone {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.155rem;
    cursor: pointer;
    transition: all 0.3s ease;

}
.filter:hover, .microphone:hover{
    /* transform: scale(1.1); 
    transform: translateY(-2px);
    
}
.nav-right{
    /* padding: 2rem; 
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.login, .signup{ display: inline-block; }
*/
 


/* FOOTER */

/* .footer{
    color: var(--text-color-dark);
}
.footer-container{
    background-color: var(--brown-light);
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;

}

.footer-section{
    display: flex;
    flex-direction: column;
}

.footer-description{
    width: 300px;
    line-height: 1.6rem;
    margin: 5px 0 5px 0;
}

.footer-contact{
    padding: 9px 0 9px 0;
    line-height: 1.8rem;

}

.footer-links{
    list-style: none;
} */


